<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="form.css">
    <% if (scripts.length) { %>
        <% scripts.forEach((script)=> { %>
            <script src="<%= script %>"></script>
            <% }) %>
                <% } %>
</head>