<!DOCTYPE html>

<html>
<%- include('partials/head.ejs', { title: 'Hiba!' , scripts: {} }) %>
    <%- include('partials/header.ejs', {username, role}) %>

        <body>
            <p class="ansMsg">
                <%= message %>
            </p>
        </body>

</html>