body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #303040;
  color: #dfdfff;
  margin: 0;
}

h1 {
  text-align: center;
}

header {
  background-color: black;
  font-size: 40pt;
  text-align: center;
  margin-bottom: 2%;
}

header > a,
header > a:visited,
header > a:hover {
  color: #dfdfff;
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  height: 40px;
  background-color: #dfdfff;
  text-align: center;
  width: 100%;
}

nav a,
nav a:visited {
  font-size: 12pt;
  padding: 0 20px 0 20px;
  color: #303040;
  text-decoration: none;
}

nav a:hover {
  background-color: #aaaacc;
}

nav p {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;

  text-wrap: wrap;
  width: 6em;
}
