body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #303040;
  color: #dfdfff;
  margin: 0;
}

h1 {
  text-align: center;
}

header {
  width: 100%;
  background-color: black;
  font-size: 40pt;
  text-align: center;
  margin-bottom: 2%;
}

header > a.titleAnchor,
header > a.titleAnchor:visited,
header > a.titleAnchor:hover {
  color: #dfdfff;
  text-decoration: none;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div.profile img {
  height: 1em;
  margin-right: 5px;
}

header > a,
header > a:visited,
header > a:hover {
  color: #dfdfff;
  text-decoration: none;
}

header div.profile {
  display: inline-flex;
  float: right;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin: 15px;

  padding: 0 15px 0 15px;
  height: 2em;
  font-size: 16pt;
  /* background-color: red; */
}

header div.profile:hover {
  background-color: #303040;
}

header div.profileButton {
  background-color: #303040;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* margin-top: 10px; */
  height: 40px;
  background-color: #dfdfff;
  text-align: center;
  width: 100%;
}

nav a,
nav a:visited {
  font-size: 12pt;
  padding: 0 20px 0 20px;
  color: #303040;
  text-decoration: none;
}

nav a:hover {
  background-color: #aaaacc;
}

nav p {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;

  text-wrap: wrap;
  width: 6em;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
}

td,
th {
  max-width: 10vw;
  padding: 5px;
  word-wrap: break-word;
}

td {
  text-align: center;
}

table,
tr,
td,
th {
  background-color: #202030;
  border: 2px solid #dfdfff;
}

td button,
td button:hover,
td button:visited,
td button:active {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #dfdfff;
  text-decoration: none;
}

table {
  margin-bottom: 40px;
}

p.noPermission {
  color: coral;
}

p.errormsg {
  width: 100%;
  text-align: center;
  color: red;
}

td.descRow {
  background-image: linear-gradient(#202030, #303040);
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  border-top: 0;
}

.ansMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
  height: 5%;
  font-size: 24pt;
  color: coral;
  margin: 40px auto 40px auto;
}
